<!-- About Notes Navbar -->
<section class="about-notes-navbar">

    <div class="about-notes-navbar-left">

        <i class="fa-solid fa-arrow-left" onclick="history.back()"></i>

    </div>
    <div class="about-notes-navbar-right">
        <h2>About</h2>
    </div>

</section>

<!-- Portable Alert -->
<section class="portable-alert" id="alertModel">

</section>

<!-- My About -->
<section class="my-about mt-18">

    <div class="my-about-left">
        <h3>MyTodo - By Krishna K N</h3>
        <small>Version 2.0.0</small>
    </div>

    <div class="my-about-right">
        <p>Inspired by Google notes MyTodo app is a productivity that helps users organize tasks and manage their daily activities. Users
            can create, update, pin, archive and delete tasks. It's a handy tool for staying organized.</p>
    </div>

</section>

<!-- Other Sections -->
<section class="other-sections">

    <div class="other-sections-left">
        <h3>Connect me</h3>
    </div>

    <div class="other-sections-right">
        
        <a href="https://www.facebook.com/profile.php?id=100013963089689">
            <img src="assets/facebook.jpg" />
        </a>
        <a href="https://instagram.com/krishna.k.n">
            <img src="assets/instagram.jpg" />
        </a>
        <a href="https://www.linkedin.com/in/krishna-k-n">
            <img src="assets/linkedin.jpg" />
        </a>
        <a href="https://github.com/krishnakn1405">
            <img src="assets/github.jpg" />
        </a>


    </div>

</section>