<!-- Archive Notes Navbar -->
<section class="archive-notes-navbar" #navbar>

    <div class="archive-notes-navbar-left">
        <i class="fa-solid fa-bars" (click)="navMenuToggle()"></i>
    </div>

    <div class="archive-notes-navbar-center">
        <h2>Archived</h2>
    </div>

    <div class="archive-notes-navbar-right">
        <i class="fa-solid fa-table-columns" #fullWidthIcon (click)="fullNotes()"></i>
    </div>

</section>

<!-- Selected Navbar -->
<section class="selected-navbar" #selectedNavbar>

    <div class="selected-navbar-left">

        <div class="snl-left">
            <i class="fa-solid fa-xmark" (click)="closeSelected()"></i>
        </div>
        <div class="snl-right">
            <p #totalSelect></p>
        </div>

    </div>
    <div class="selected-navbar-right archived-selected-navbar-right">

        <i class="fa-solid fa-file-zipper" (click)="unarchiveNotes()"></i>
        <i class="fa-solid fa-trash" (click)="deleteNotes()"></i>

    </div>

</section>

<!-- NavMenu -->
<section class="nav-menu" #navMenuToggleId>

    <div class="nav-menu-left">

        <img src="assets/mytodo.png" alt="mytodo" (click)="navMenuToggle()" />

    </div>
    <div class="nav-menu-right">
        <ul>
            <li routerLink="/"><i class="fa-solid fa-note-sticky"></i>Notes</li>
            <li routerLink="/archive" class="active"><i class="fa-solid fa-box-archive"></i>Archive</li>
            <li routerLink="/delete"><i class="fa-solid fa-trash"></i>Deleted</li>
            <li routerLink="/about"><i class="fa-solid fa-address-card"></i>About</li>
        </ul>
    </div>

</section>

<!-- Portable Alert -->
<section class="portable-alert" #alertModel>

</section>

<!-- Notes Contents -->
<section class="notes-contents mt-12" #notesContents>

    <div class="notes-contents-left">

    </div>
    <div class="notes-contents-right">

        <div class="no-description" *ngIf="archived.length=== 0; else elseBlock">
            <p>No archive</p>
        </div>

        <ng-template #elseBlock>
            <div class="modal-parent" *ngFor="let note of archived  | descending ">

                <div class="notes-modal" *ngIf="note.delete== false && note.archive== true"
                    [routerLink]="linkClick? '../single-note' : null" [queryParams]="{id: note.id}"
                    [style.width]="fullWidth ? '92vw' : '45vw'" (touchstart)="onTouchStart(note.id)"
                    (touchend)="onTouchEnd()" id="notes{{ note.id }}">

                    <div class="notes-modal-left">
                        <h3>{{ note.title }}</h3>
                    </div>
                    <div class="notes-modal-right">
                        <p>{{ note.description }}</p>
                    </div>

                </div>

            </div>
        </ng-template>

    </div>

</section>